.register-container {
    -fx-background-color: #f2f2f2;
}

.register-wrap {
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}